:root{
    --head-background-color: #333; /* Темно-серый фон */
    --logo-text-color: #dbdbdb; /* Белый цвет текста */
    --subheading-color: #FFFFFF; /* Светло-серый цвет подзаголовка */
    --border-color: #222; /* Цвет обводки */
    --heading-font: 'Georgia', serif; /* Шрифт для заголовка */
    --subheading-font: 'Arial', sans-serif; /* Шрифт для подзаголовка */
    --patent-header-text-color: black;
    --patent-date-text-color: grey;
    --patent-descriprion-text-color: black;
}
.head{
    background: var(--head-background-color);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    justify-content: space-between;
}
body{
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
html{
    width: 100%;
    height: 100%;
}

.logo{
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    min-width: 200px;
    background-position: left 10px bottom -30px;
    background-image:  url("../img/pobeda.svg");
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100px;
    ;
}
.logoFirst{
    color: var(--logo-text-color); /* Светло-серый цвет */
    font-family: 'Arial', sans-serif; /* Шрифт Arial */
    font-size: 24px; /* Размер шрифта меньше, чем у заголовка */
    text-align: center; /* Выравнивание по центру */
    margin: 10px 40px 10px 10px; /* Отступы сверху и снизу */
    text-shadow:
        -1px -1px 0 var(--border-color),
        1px -1px 0 var(--border-color),
        -1px 1px 0 var(--border-color),
        1px 1px 0 var(--border-color); /* Обводка темно-серым цветом */

}
.logoSecond{
    color: var(--subheading-color); /* Белый цвет */
    font-family: 'Georgia', serif; /* Шрифт Georgia */
    font-size: 36px; /* Размер шрифта */
    text-align: right; /* Выравнивание по центру */
    text-shadow:
            -1px -1px 0 var(--border-color),
            1px -1px 0 var(--border-color),
            -1px 1px 0 var(--border-color),
            1px 1px 0 var(--border-color) /* Обводка темно-серым цветом */
}
.settings{
    margin-right: 20px;
}
.settings>img{
    aspect-ratio: 1/1;
    height: 50px;
}

.create{
    background: lawngreen;
    padding: 8px;
    border-radius: 1000px;
    font-family:  sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #000;
}
.create:active{
    background: yellowgreen;
}
.controls{
    display: inline-flex;
    gap: 10px;
    align-items: center;
}
.search-container {
    display: flex; /* Используем Flexbox для выравнивания */
    justify-content: center; /* Центрируем содержимое */
    margin: 20px; /* Отступы вокруг контейнера */
}

.search-input {
    padding: 10px; /* Внутренний отступ для текстового поля */
    font-size: 16px; /* Размер шрифта */
    border: 1px solid #ccc; /* Граница текстового поля */
    border-radius: 4px; /* Закругленные углы */
    width: 150px; /* Ширина текстового поля */
}

.search-button {
    padding: 10px 15px; /* Внутренние отступы для кнопки */
    font-size: 16px; /* Размер шрифта */
    border: none; /* Убираем границу */
    border-radius: 4px; /* Закругленные углы */
    background-color: #007BFF; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    cursor: pointer; /* Указатель при наведении */
    margin-left: 10px; /* Отступ слева от кнопки */
}

.search-button:hover {
    background-color: #0056b3; /* Цвет фона кнопки при наведении */
}

.mainWrapper{
    padding: 20px;
    height: 100%;
    width: 80%;
    max-width: 900px;

}
.patentsList{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}
.patent{
    display: flex;
    flex-direction: column;
    border: solid var(--border-color) 1px;
    border-radius: 10px;

}
.patentName{
    font: 25px var(--patent-header-text-color);
    font-family: "fantasy", sans-serif;
}
.patentDate{

    font: 18px var(--patent-date-text-color);
    font-family: "Segoe UI", sans-serif;

    margin-left: 25px;
}
.patentDescription{
    font: 20px var(--patent-descriprion-text-color);
    font-family: "Segoe UI", sans-serif;
    padding: 10px;
}
.patentHeader{
    padding: 10px;
    text-decoration: none;
    color: CanvasText;
}
.patentBody{
    border-top: solid 1px var(--border-color);
}
.patentId{
    font: 18px sans-serif;
    color: #007BFF;
}
.patentAuthor{
    padding: 10px;
    font: 20px var(--patent-descriprion-text-color);
    font-family: "Roboto", sans-serif;
}
.patentAuthor::before{
    font: 18px var(--patent-descriprion-text-color);
    content: "Владелец патента: ";
    font-family: "Roboto", sans-serif;

}

.notification{
    padding: 10px;
    margin: 5px;
    min-width: 70px;
    font: 20px Roboto;
    background-color: #EEEE00;
    border: 4px solid #CCCC00;
    border-radius: 10px;
    transition: opacity 500ms;
}
.notificationHidden{
    opacity: 0;
}
.notificationList{
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: right;
}
.path{
    font: 25px bold Roboto;
    margin-left: 20px;
}
.path::before{
    font: 25px bold Roboto;
    margin-left: 20px;
    content: "/";
}
.path>span::after{
    font: 25px bold Roboto;
    content: "/";
}
.path>span:hover{
    text-decoration: underline var(--border-color);
    cursor: pointer;
}

.patentFullList{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}
.update{
    display: flex;
    flex-direction: column;
    border: solid var(--border-color) 1px;
    border-radius: 10px;

}
.updateName{
    font: 25px var(--patent-header-text-color);
    font-family: "fantasy", sans-serif;
}
.updateDate{

    font: 18px var(--patent-date-text-color);
    font-family: "Segoe UI", sans-serif;

    margin-left: 25px;
}
.updateDescription{
    font: 20px var(--patent-descriprion-text-color);
    font-family: "Segoe UI", sans-serif;
    padding: 10px;
}
.updateHeader{
    padding: 10px;
}
.updateHeader::before{
    font: 18px var(--patent-descriprion-text-color);
    font-family: "Roboto", sans-serif;
    content: "Обновление";
}
.updateBody{
    border-top: solid 1px var(--border-color);
}
.updateId{
    font: 18px sans-serif;
    color: #007BFF;
}
.updateAuthor{
    padding: 10px;
    font: 20px var(--patent-descriprion-text-color);
    font-family: "Roboto", sans-serif;
}
.updateAuthor::before{
    font: 18px var(--patent-descriprion-text-color);
    content: "Владелец патента: ";
    font-family: "Roboto", sans-serif;

}
.newUpdateButton{
    background-color: var(--patent-date-text-color);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font: bold 30px sans;
    color: white;
    align-self: center;
    transition: all 500ms ease ;
}
.newUpdateButton:hover{
    background-color: var(--border-color);
    cursor: pointer;
}
.newUpdateButton:active{
    background-color: darkolivegreen;
}
.buttonForClose{
    background-color: darkred;
    transform: rotate(135deg);
}
.buttonForClose:hover{
    background-color: crimson;
    cursor: pointer;
}

.updateHeaderEdit{
    padding: 10px;
    font: 25px var(--patent-descriprion-text-color);
    font-family: "Roboto", sans-serif;
}
.updateHeaderEdit>label{
    font-size: 20px;
}
.updateHeaderEdit>input[type="text"]{
    font-size: 20px;
    width: calc(100% - 20px);
    padding: 5px;
}
.updateDescriptionEdit{
    font: 20px var(--patent-descriprion-text-color);
    font-family: "Segoe UI", sans-serif;
    padding: 10px;
}
.updateDescriptionEdit>textarea{
    font: 20px var(--patent-descriprion-text-color);
    font-family: "Segoe UI", sans-serif;
    width: calc(100% - 10px);
    height: 300px;
    resize: none;
}
.updateDescriptionEdit>input[type="submit"]{
    font: 15px var(--patent-descriprion-text-color);
    font-family: "Segoe UI", sans-serif;
    width: 150px;
    height: 40px;
    background-color: chartreuse;
}
.updateDescriptionEdit>input[type="submit"]:hover{

    background-color: green;
    cursor: pointer;
}
#uElement{
    transition: all 500ms ease;
    overflow: hidden;
}
.updateHiding{

    height: 10px;
}
.updateHidden{
    display: none;
}
.username::before{
    content: "Здравствуйте, ";
}
.username{
    font: 20px SansSerif sans-serif;
    text-align: right;
    padding: 20px;
    width: 80%;
    max-width: 900px;
    height: fit-content;
}

.username-without-before {
    font: 20px SansSerif sans-serif;
    text-align: right;
    padding: 20px;
    width: 80%;
    max-width: 900px;
    height: fit-content;
}

.loginForm{
    font: 20px SansSerif sans-serif;
    padding: 10px;
    border: solid 1px;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    box-shadow: #444 10px 10px;
    align-self: center;
    margin-top: 90px
}
.loginForm>input[type="text"], .loginForm>input[type="password"]{
    height: 30px;
    width: calc(100% - 10px);
    border-radius: 5px;
    font: 20px Georgia;
}
.loginForm>label>input[type="checkbox"]{
    zoom: 1.6;

}
.loginForm>label{
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
}
.loginForm>input[type="submit"]{
    height: 40px;
    width: 200px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #009AFF;

}
.loginForm>input[type="submit"]:hover{
    background-color: #0065a8;
    cursor: pointer;
}
.loginForm>input.registerButton{
    background-color: #00ff0b;
}.loginForm>input.registerButton:hover{
     background-color: #00af0a;
     cursor: pointer;
 }
 .deleteUserButton{
    background-color: #ffbf80;

 }
 .deleteUserButton:hover{
    background-color: darkred;
    cursor: pointer;
    color: #fff;
 }
 .saveEdited{
     border: 1px solid #777;
     padding: 8px;
     margin-top: 10px;
 }
 .saveEdited:hover{
     background-color: #AAA;
     cursor: pointer;
 }

 .adminLink{
     padding: 10px;
     background-color: azure;
     border-radius: 5px;
     text-decoration: none;
     color: CanvasText;
 }
.adminLink:hover{
    background-color: cadetblue;
}

.top-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
