<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ПБП Админ</title>
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg">
    <style>
        table.users {
            width: 100%;
            border-collapse: collapse;
        }
        .users>thead>tr>th, .users>tbody>tr>td {
            border: 1px solid #ddd8;
            padding: 8px;
            text-align: left;

        }
        .users>thead>tr>th {
            cursor: pointer; /* Указатель при наведении на заголовок */
            background-color: #f2f2f280;
        }
        .users>thead>tr>th:hover {
            background-color: #ddd6; /* Изменение цвета при наведении */
        }
        .btn-default:hover{
            background-color: #777777;
            cursor: pointer;
        }
        .btn-default{
            border:none;
            border-radius: 4px;

        }
        .sort-arrow {

        }

        .sort-arrow.up::before {
            content: '↑';
        }

        .sort-arrow.down::before {
            content: '↓';
        }
        .fill{
            height: 100%;
            width: 100%;
        }
        input[type="checkbox"]:checked::after{
            content: "(да)";
            margin-left: 15px;
        }
        input[type="checkbox"]::after{
            content: "(нет)";
            margin-left: 15px;
        }
        .users>tbody>tr:hover{
            background: #EEE3;
        }
    </style>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="notificationList"></div>
<div class="head">
    <a class="logo" th:href="@{/}">
        <div class="logoFirst">Патентное бюро</div>
        <div class="logoSecond">Победа</div>
    </a>
    <div class="controls">
        <div th:if="${authorities.equals('[ADMIN]')}">
            <a th:href="@{/admin}" class="adminLink">Управление аккаунтами</a>
        </div>
        <div class="search-container">
            <form th:action="@{/search}" method="get" class="search-form">


                <input name="query" type="text" class="search-input" placeholder="Введите запрос...">

                <button class="search-button" type="submit">Искать</button>
            </form>
        </div>
        <a class="create rbg" th:href="@{/create_new_paste}">Новый патент</a>
        <div class="settings" tabindex="-1">
            <img src="../img/settings.svg" alt="">
            <div class="sideMenu">
                <a class="sideMenuItem rbm" th:href="@{/profile/{id}(id=${user.getId()})}" th:if="${not userName.equals('anonymousUser')}">
                    <img src="../img/profile.svg" alt="">
                    <span>Профиль</span>
                </a>
                <a class="sideMenuItem rbr" th:href="@{/logout}" th:if="${not userName.equals('anonymousUser')}">
                    <img src="../img/logout.svg" alt="">
                    <span>Выйти</span>
                </a>
                <a class="sideMenuItem rbr" th:href="@{/login}" th:if="${userName.equals('anonymousUser')}">
                    <img src="../img/login.svg" alt="">
                    <span>Войти</span>
                </a>
            </div>
        </div>

    </div>
</div>
<div class="accordionMenu"></div>
<div class="username" th:text="${userName}">rise</div>
<div class="mainWrapper">

    <h1 id="DataHeader">Список пользователей</h1>
    <form style="justify-self: right; margin-bottom: 5px" method="post" action="https://192.168.0.103:4000/admin/search">
        <label for="usersSearch">Искать по логину</label><br>
        <input type="text" name="usersSearch" id="usersSearch">
        <input type="submit" class="btn-default" value="Искать">
    </form>

    <table id="userListTable" class="users">
        <thead>
            <tr>
                <th onclick="sortTable(0)" class="sort-arrow up">Логин</th>
                <th onclick="sortTable(1)" class="sort-arrow">Почта</th>
                <th>Заблокирован?</th>
                <th>Администратор?</th>
                <th>Удаление пользователя (опасно)</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.getUsername()}">rise</td>
                <td th:text="${user.getEmail()}">qwerty</td>

                <td>
                    <div th:if="${not user.isAccountLocked()}">
                        <form th:object="${user}" th:action="@{/admin/user/{id}/ban(id=${user.getId()})}" th:method="post">
                            <!--                                <label for="4535_Banned" class="fill">-->
                            <!--                                    <input type="submit" th:value="${user.isAccountLocked()}">-->
                            <input type="submit" name="4535_Banned" id="4535_Banned" th:value="${user.isAccountLocked()}">
                            <!--                                </label>-->
                        </form>
                    </div>

                    <div th:if="${user.isAccountLocked()}">
                        <form th:object="${user}" th:action="@{/admin/user/{id}/unban(id=${user.getId()})}" th:method="post">
                            <!--                                <label for="4536_Banned" class="fill">-->
                            <!--                                    <input type="submit" name="4536_Banned" id="4536_Banned" th:value="${user.isAccountLocked()}">-->
                            <input type="submit" th:value="${user.isAccountLocked()}">
                            <!--                                </label>-->
                        </form>
                    </div>
                </td>

                <td>
                    <div th:if="${not user.isAdmin()}">
                        <form th:object="${user}" th:action="@{/admin/user/{id}/change_to_admin(id=${user.getId()})}" th:method="post">
                            <label for="4535_Admin" class="fill">
                                <input type="submit" name="4535_Admin" id="4535_Admin" th:value="${user.isAdmin()}">
                            </label>
                        </form>
                    </div>

                    <div th:if="${user.isAdmin()}">
                        <form th:object="${user}" th:action="@{/admin/user/{id}/change_to_user(id=${user.getId()})}" th:method="post">
                            <label for="4535_Admin" class="fill">
                                <input type="submit" name="4535_Admin" id="4536_Admin" th:value="${user.isAdmin()}">
                            </label>
                        </form>
                    </div>
                </td>

                <td>
                    <form th:object="${user}" th:method="post" th:action="@{/admin/user/{id}/delete(id=${user.getId()})}">
                        <input type="submit" class="deleteUserButton" value="Удалить Пользователя">
                    </form>
                </td>
            </tr>

        </tbody>
    </table>

    <script>
        function sortTable(columnIndex) {
            const table = document.getElementById("userListTable");
            const tbody = table.tBodies[0];
            const rows = Array.from(tbody.rows);
            const isAscending = tbody.dataset.sortOrder === "asc";

            // Переключение стрелочек
            const headers = Array.from(table.tHead.rows.item(0).cells);
            headers.forEach((element)=>{
                element.classList.remove("sort-arrow","up","down");
            });

            if (isAscending) headers[columnIndex].classList.add("sort-arrow","up");
            else headers[columnIndex].classList.add("sort-arrow","down");

            // Сортировка строк
            rows.sort((a, b) => {
                const aText = a.cells[columnIndex].textContent.trim();
                const bText = b.cells[columnIndex].textContent.trim();

                return isAscending
                    ? aText.localeCompare(bText)
                    : bText.localeCompare(aText);
            });

            // Удаление старых строк и добавление отсортированных
            rows.forEach(row => tbody.appendChild(row));

            // Переключение порядка сортировки
            tbody.dataset.sortOrder = isAscending ? "desc" : "asc";
        }
    </script>
</div>

<script src="../js/mainPageMenuAndPatents.js"></script>
</body>
</html>