<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
<!--    <script src="scripts/PatentOpen.js" type="module"></script>-->
</head>
<body>

<div class="mainWrapper">
    <h1>Создать новый патент</h1>
    <a th:href="@{/}"><-- Back Home</a>
    <h2 th:text="${userName}">Автор {имя}</h2>
    <div class="patentFullList">
        <div class="update" id="uElement">

            <form id="uForm" th:object="${paste}" th:method="post" th:action="@{/create_new_paste}">
                <div class="updateHeaderEdit">
                    <label for="uName">Название патента</label><br>

                    <input type="text" name="uName" id="uName" placeholder="" th:field="*{title}" required>
                </div>
                <div class="updateBody">
                    <div class="updateDescriptionEdit">
                        <label for="uDesk">Описание патента</label><br>
                        <textarea name="uDesk" id="uDesk" th:field="*{text}" required></textarea>
                        <input type="submit" value="Опубликовать" id="uSubmit">
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>
</body>
</html>