<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="notificationList"></div>
<div class="head">
  <a class="logo" th:href="@{/}">
    <div class="logoFirst">Патентное бюро</div>
    <div class="logoSecond">Победа</div>
  </a>
  <div class="controls">
    <div th:if="${authorities.equals('[ADMIN]')}">
      <a th:href="@{/admin}" class="adminLink">Управление аккаунтами</a>
    </div>
    <div class="search-container">
      <form th:action="@{/search}" method="get" class="search-form">


        <input name="query" type="text" class="search-input" placeholder="Введите запрос...">

        <button class="search-button" type="submit">Искать</button>
      </form>
    </div>
    <a class="create rbg" th:href="@{/create_new_paste}">Новый патент</a>
    <div class="settings" tabindex="-1">
      <img src="../img/settings.svg" alt="">
      <div class="sideMenu">
        <a class="sideMenuItem rbm" th:href="@{/profile/{id}(id=${user.getId()})}" th:if="${not userName.equals('anonymousUser')}">
          <img src="../img/profile.svg" alt="">
          <span>Профиль</span>
        </a>
        <a class="sideMenuItem rbr" th:href="@{/logout}" th:if="${not userName.equals('anonymousUser')}">
          <img src="../img/logout.svg" alt="">
          <span>Выйти</span>
        </a>
        <a class="sideMenuItem rbr" th:href="@{/login}" th:if="${userName.equals('anonymousUser')}">
          <img src="../img/login.svg" alt="">
          <span>Войти</span>
        </a>
      </div>
    </div>

  </div>
</div>

<div class="mainWrapper">

  <div class="top-line">
    <a th:href="@{/}"><-- Back Home</a>
    <div th:if="${not userName.equals('anonymousUser')}" class="username" th:text="${userName}">
      <a th:href="@{/login}">Войти в аккаунт</a>
    </div>
<!--    <div th:if="${userName.equals('anonymousUser')}" class="username-without-before">-->
<!--      <a th:href="@{/login}">Войти в аккаунт</a>-->
<!--    </div>-->
  </div>

  <h1>Описание патента</h1>
  <div class="patentFullList">
    <div class="patent" id="002">
      <div class="patentHeader">
        <span class="patentName" th:text="${paste.getTitle()}">Метод лечения диабета 2 типа</span>
        <span class="patentId" th:text="'#' + ${paste.getId()}">#002</span>
      </div>
      <div class="patentBody">
        <div class="patentAuthor" th:text="${paste.getAuthor()}">Мария Петрова</div>
        <div class="patentDate" th:text="${pasteTime}">2023-02-20</div>
        <div class="patentDescription" th:text="${paste.getText()}">Патент на новый метод лечения диабета 2 типа
          с использованием натуральных экстрактов.
        </div>
      </div>

    </div>

    <!--        Дополнения-->
    <div th:each="add, state : ${additions}">
      <div class="update" id="002-1">

        <div class="updateHeader">
          <span class="updateId" th:text="'#' + ${paste.getId()} + '-' + ${state.count}">#002-1</span>
          <span class="updateDate" th:text="${addTime.getTimeFormat(add.getAdditionDate())}">
                        2023-02-25
                    </span>
          <div class="updateName" th:text="${add.getUpdateName()}">
            Обновление метода лечения диабета 2 типа
          </div>
        </div>
        <div class="updateBody">
          <div class="updateDescription" th:text="${add.getUpdateText()}">
            Уточнены дозировки и добавлены новые компоненты для повышения эффективности лечения.
          </div>
        </div>
      </div>
    </div>

    <!--        Форма для дополнения-->
    <div class="update updateHidden updateHiding" id="uElement" th:if="${paste.getAuthor().equals(userName)}">
      <form id="uForm" th:action="@{/paste/{id}(id=${paste.getId()})}" th:object="${addition}" th:method="post">
        <div class="updateHeaderEdit">
          <div>Добавить дополнение к патенту</div>
          <label for="uName">Заголовок дополнения</label><br>
          <input th:field="*{updateName}" type="text" id="uName">
        </div>
        <div class="updateBody">
          <div class="updateDescriptionEdit">
            <label for="uDesk">Описание дополнения</label><br>
            <textarea th:field="*{updateText}" id="uDesk"></textarea>
            <input type="submit" value="Опубликовать" id="uSubmit">
          </div>
        </div>

      </form>
    </div>
    <button class="newUpdateButton" th:if="${paste.getAuthor().equals(userName)}">+</button>
  </div>
</div>

<script th:if="${paste.getAuthor().equals(userName)}">
  function buttonMentality(buttonElement, mainElement) {
          if (!buttonElement.classList.contains("buttonForClose")) {
              buttonElement.classList.add("buttonForClose");
              mainElement.classList.remove("updateHidden")
              setTimeout(() => mainElement.classList.remove("updateHiding")
                  , 500)
          } else {
              buttonElement.classList.remove("buttonForClose");
              mainElement.classList.add("updateHiding")
              setTimeout(() => mainElement.classList.add("updateHidden")
                  , 500)
          }
      }
      let button = document.querySelector(".newUpdateButton");
      let mainElement = document.getElementById("uElement");
      button.addEventListener("click", () => buttonMentality(button,mainElement))
</script>
<script src="../js/mainPageMenuAndPatents.js"></script>
</body>
</html>