<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="notificationList"></div>
<div class="head">
  <a class="logo" th:href="@{/}">
    <div class="logoFirst">Патентное бюро</div>
    <div class="logoSecond">Победа</div>
  </a>
  <div class="controls">
    <div th:if="${authorities.equals('[ADMIN]')}">
      <a th:href="@{/admin}" class="adminLink">Управление аккаунтами</a>
    </div>
    <div class="search-container">
      <form th:action="@{/search}" method="get" class="search-form">


        <input name="query" type="text" class="search-input" placeholder="Введите запрос...">

        <button class="search-button" type="submit">Искать</button>
      </form>
    </div>
    <a class="create rbg" th:href="@{/create_new_paste}">Новый патент</a>
    <div class="settings" tabindex="-1">
      <img src="../img/settings.svg" alt="">
      <div class="sideMenu">
        <a class="sideMenuItem rbm" th:href="@{/profile/{id}(id=${user.getId()})}" th:if="${not userName.equals('anonymousUser')}">
          <img src="../img/profile.svg" alt="">
          <span>Профиль</span>
        </a>
        <a class="sideMenuItem rbr" th:href="@{/logout}" th:if="${not userName.equals('anonymousUser')}">
          <img src="../img/logout.svg" alt="">
          <span>Выйти</span>
        </a>
        <a class="sideMenuItem rbr" th:href="@{/login}" th:if="${userName.equals('anonymousUser')}">
          <img src="../img/login.svg" alt="">
          <span>Войти</span>
        </a>
      </div>
    </div>

  </div>
</div>
<div class="accordionMenu">
</div>

<div class="mainWrapper">

  <div class="top-line">
    <a th:href="@{/}"><-- На главную</a>
<!--    <div th:if="${not userName.equals('anonymousUser')}" class="username" th:text="${userName}">-->
<!--      <a th:href="@{/login}">Войти в аккаунт</a>-->
<!--    </div>-->
  </div>

  <div class="username" th:if="${not userName.equals('anonymousUser')}" th:text="${userName}">
    rise
  </div>

  <h1>Описание патента</h1>
  <div class="mainColumn">
    <div class="patentFullList">
      <div class="patent" id="002">
        <div class="patentHeader">
          <span class="patentName" th:text="${paste.getTitle()}">Устройство для автоматического полива растений с использованием датчиков влажности и солнечной энергии</span>
          <span class="patentId" th:text="'#' + ${paste.getId()}">#1</span>
        </div>
        <div class="patentBody">
          <a class="patentAuthor" th:href="@{/profile/{id}(id=${paste.getAuthorId()})}" th:text="${paste.getAuthor()}">rise</a>
          <div class="patentDate" th:text="${pasteTime}">13 марта 2025, 02:45</div>
          <div class="patentDescription" th:text="${paste.getText()}">Область техники:
            Настоящее изобретение относится к системам автоматического полива растений и может быть использовано в сельском хозяйстве, садоводстве и в домашних условиях для ухода за растениями.

            Предпосылки:
            Существующие системы полива часто требуют ручного контроля и настройки, что может привести к недостаточному или избыточному поливу, а также к неэффективному использованию ресурсов. В связи с этим существует необходимость в автоматизированной системе, которая могла бы оптимизировать процесс полива.

            Суть изобретения:
            Предлагаемое устройство включает в себя датчики влажности почвы, которые измеряют уровень влажности в реальном времени, и солнечные панели для обеспечения автономного питания системы. Датчики подключены к контроллеру, который обрабатывает данные и управляет насосом для подачи воды в зависимости от уровня влажности.

            Система также может быть оснащена модулем Wi-Fi для удаленного мониторинга и управления через мобильное приложение. Пользователь может настраивать параметры полива, получать уведомления о состоянии растений и изменениях в погодных условиях.

            Преимущества:

            Автоматизация процесса полива: Устранение необходимости в ручном поливе.
            Экономия ресурсов: Оптимизация использования воды за счет точного контроля уровня влажности.
            Экологичность: Использование солнечной энергии для питания устройства.
            Удаленный доступ: Возможность управления и мониторинга через мобильное приложение.
            Заключение:
            Данное изобретение представляет собой эффективное решение для автоматизации полива растений, что способствует улучшению ухода за растениями и снижению затрат на ресурсы.</div>
        </div>

      </div>

      <div th:each="add, state : ${additions}">
        <div class="update" id="002-1">

          <div class="updateHeader">
            <span class="updateId" th:text="'#' + ${paste.getId()} + '-' + ${state.count}">#1-1</span>
            <span class="updateDate" th:text="${timeFormater.getTimeFormat(add.getAdditionDate())}">24 марта 2025, 04:33</span>
            <div class="updateName" th:text="${add.getUpdateName()}">Гооооооооол</div>
          </div>
          <div class="updateBody">
            <div class="updateDescription" th:text="${add.getUpdateText()}">ДААААААААААААААААААА</div>
          </div>
        </div>
      </div>

    </div>
    <div class="patentFullList updateElementFollowing">
      <!--Форма для дополнения-->
      <div class="update updateHidden uCollapsed" id="uElement" th:if="${paste.getAuthor().equals(userName)}">
        <form id="uForm" th:action="@{/paste/{id}(id=${paste.getId()})}" th:object="${addition}" th:method="post">
          <div class="updateHeaderEdit">
            <div>Добавить дополнение к патенту</div>
            <label for="uName">Заголовок дополнения</label><br>
            <input th:field="*{updateName}" type="text" id="uName" name="updateName" value="">
          </div>
          <div class="updateBody">
            <div class="updateDescriptionEdit">
              <label for="uDesk">Описание дополнения</label><br>
              <textarea th:field="*{updateText}" id="uDesk" name="updateText"></textarea>
              <input type="submit" value="Опубликовать" id="uSubmit">
            </div>
          </div>

        </form>
      </div>
      <button class="newUpdateButton" th:if="${paste.getAuthor().equals(userName)}">+</button>
    </div>

  </div>
</div>
<script th:if="${paste.getAuthor().equals(userName)}">
  function buttonMentality(buttonElement, mainElement) {
      if (!buttonElement.classList.contains("buttonForClose")) {
          buttonElement.classList.add("buttonForClose");
          mainElement.classList.remove("updateHidden");
          mainElement.style.height = mainElement.scrollHeight+'px';
      } else {
          buttonElement.classList.remove("buttonForClose");
          mainElement.style.removeProperty("height")
          setTimeout(() => mainElement.classList.add("updateHidden")
              , 500)
      }
  }
  let button = document.querySelector(".newUpdateButton");
  let mainElement = document.getElementById("uElement");
  button.addEventListener("click", () => buttonMentality(button,mainElement))
</script>
<script src="../js/mainPageMenuAndPatents.js"></script>
</body>
</html>