<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
<!--    <script type="module" src="../../../../../frontend/pobeda/scripts/patent.js"></script>-->
<!--    <script type="module" src="../../../../../frontend/pobeda/scripts/path.js"></script>-->
    <script type="module" th:href="@{/js/searchAndDescription.js}"></script>
</head>
<body>
    <div class="notificationList"></div>
    <div class="head">
        <div class="logo">
            <div class="logoFirst">Патентное бюро</div>
            <div class="logoSecond">Победа</div>
        </div>
        <div class="controls">
            <div class="search-container">
                <label>
                    <input type="text" th:object="${searchRequest}" class="search-input" placeholder="Введите запрос...">
                    <input class="search-button" type="submit">
                </label>
            </div>
            <a class="create" th:href="@{/create_new_paste}">Новый патент</a>
<!--            <div class="settings"><img src="../../../../../frontend/pobeda/img/settings.svg" alt=""></div>-->
        </div>
    </div>

    <div class="mainWrapper">
        <h1 id="DataHeader">Последние патенты (новые)</h1>
        <div th:each="paste : ${pasteList}">
            <a class="patentList" th:text="${paste.getTitle()}" th:href="@{/paste/{id}(id=${paste.getId()})}"></a>
        </div>
    </div>

</html>
</body>

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="https://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <link rel="stylesheet" th:href="@{/css/style.css}">-->
<!--    &lt;!&ndash; <script type="module" src="scripts/patent.js"></script> &ndash;&gt;-->
<!--    &lt;!&ndash; <script type="module" src="scripts/path.js"></script> &ndash;&gt;-->
<!--&lt;!&ndash;    <script type="text/javascript" th:src="@{/js/hello.js}"></script>&ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<!--<div class="notificationList"></div>-->
<!--<div class="head">-->
<!--    <div class="logo">-->
<!--        <div class="logoFirst">Патентное бюро</div>-->
<!--        <div class="logoSecond">Победа</div>-->
<!--    </div>-->
<!--    <div class="controls">-->
<!--        <div class="search-container">-->
<!--            <label>-->
<!--                <input type="text" class="search-input" placeholder="Введите запрос...">-->
<!--                <button class="search-button">Искать</button>-->
<!--            </label>-->
<!--        </div>-->
<!--        <button class="create">Новый патент</button>-->
<!--&lt;!&ndash;        <div class="settings"><img src="img/settings.svg" alt=""></div>&ndash;&gt;-->
<!--    </div>-->
<!--</div>-->
<!--<div class="username"></div>-->
<!--<div class="mainWrapper">-->

<!--    <h1 id="DataHeader">Последние патенты (новые)</h1>-->
<!--    <div class="patentsList">-->
<!--    </div>-->
<!--</div>-->

<!--&lt;!&ndash;<script type="text/javascript" th:src="@{/js/hello.js}"></script>&ndash;&gt;-->
<!--</body>-->
<!--</html>-->