<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <a th:href="@{/}"><-- Back Home</a>
    <h2 th:text="'Hello, ' + ${user.getUsername()}">Hello, user</h2>
    <h2 th:text="'Почта: ' + ${user.getEmail()}"></h2>
    <div th:each="patent : ${patents}">
        <h2 th:text="${patent.getTitle()}"></h2>
        <h2 th:text="${patent.getText()}"></h2>
        <h2 th:text="${patent.getExpirationTime()}"></h2>
    </div>
</body>
</html>