<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ПБП Профиль</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg">
</head>
<body>
<div class="notificationList"></div>
<div class="head">
    <a class="logo" th:href="@{/}">
        <div class="logoFirst">Патентное бюро</div>
        <div class="logoSecond">Победа</div>
    </a>
    <div class="controls">
                <div th:if="${authorities.equals('[ADMIN]')}">
                    <a th:href="@{/admin}" class="adminLink">Управление аккаунтами</a>
                </div>
        <div class="search-container">
            <form th:action="@{/search}" method="get" class="search-form">


                <input name="query" type="text" class="search-input" placeholder="Введите запрос...">

                <button class="search-button" type="submit">Искать</button>
            </form>
        </div>
        <a class="create rbg" th:href="@{/create_new_paste}">Новый патент</a>
        <div class="settings" tabindex="-1">
            <img src="../img/settings.svg" alt="">
            <div class="sideMenu">
                <a class="sideMenuItem rbm" th:href="@{/profile/{id}(id=${user.getId()})}" th:if="${not userName.equals('anonymousUser')}">
                    <img src="../img/profile.svg" alt="">
                    <span>Профиль</span>
                </a>
                <a class="sideMenuItem rbr" th:href="@{/logout}" th:if="${not userName.equals('anonymousUser')}">
                    <img src="../img/logout.svg" alt="">
                    <span>Выйти</span>
                </a>
                <a class="sideMenuItem rbr" th:href="@{/login}" th:if="${userName.equals('anonymousUser')}">
                    <img src="../img/login.svg" alt="">
                    <span>Войти</span>
                </a>
            </div>
        </div>

    </div>
</div>
<div class="accordionMenu">
</div>

<div class="mainWrapper">

    <div th:if="${not userName.equals('anonymousUser')}" class="username" th:text="${userName}">rise</div>


    <div class="mainColumn">

        <div class="patentFullList updateElementFollowing">
            <div style="display: inline-flex; align-items: center; gap:5px;">
                <h1>Профиль <span th:text="${userMain.getUsername()}">rise</span></h1>
                <button th:if="${userMain.getUsername().equals(userName)}" class="editProfileButton">Редактировать</button>
            </div>
            <fieldset>
                <legend>Сводка по пользователю</legend>
                <h4>Логин: <span th:text="${userMain.getUsername()}">rise</span></h4>
                <h4>Число патентов: <span th:text="${patents.size()}">2</span></h4>
                <h4>О себе:</h4>
                <div class="patentDescription" id="aboutSaved" th:text="${userMain.getDescription()}">Ронял Тигров
                    они боялись
                    но лучше я
                </div>
                <form id="profileEdit" class="updateHidden" th:method="post" th:action="@{/profile/save_description}" th:object="${userMain}">
                    <div class="updateBody">
                        <div class="updateDescriptionEdit">
                            <label for="textAbout">Редактирование профиля</label><br>
                            <textarea name="textAbout" id="textAbout" th:field="*{description}" required></textarea>
                            <input type="submit" value="Сохранить" id="uSubmit">
                        </div>
                    </div>
                </form>
            </fieldset>

        </div>
        <div class="patentFullList">
            <h1>Патенты автора</h1>
            <div class="patent" th:each="patent : ${patents}">
                <a th:href="@{/paste/{id}(id=${patent.getId()})}" class="patentHeader">
                    <span class="patentName" th:text="${patent.getTitle()}">падать</span>
                    <span class="patentId" th:text="'#' + ${patent.getId()}">2</span>
                </a>
                <div class="patentBody">
                    <div class="patentAuthor" th:text="${patent.getAuthor()}">rise</div>
                    <div class="patentDate" th:text="${pasteTime.getTimeFormat(patent.getExpirationTime())}">13 марта 2025, 05:30</div>
                    <div class="patentDescription" th:text="${textFormater.format(patent.getText())}">PostgreSQL Elephant Logo
                        Home
                        About
                        Download
                        Documentation
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/mainPageMenuAndPatents.js"></script>
</body>
</html>