<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Восстановление пароля</title>
</head>
<body>
<h2>Восстановление пароля</h2>
<h3 th:text="${error}" style="color: red;"></h3>
<h3>Введите свою почту</h3>
    <form th:method="post" th:action="@{/recover_password}" th:object="${email}">
        <div>Почта: </div>
        <input type="email" th:field="*{recipient}" required>
        <input type="submit" value="Получить код">
    </form>
</body>
</html>